@charset "UTF-8";
/*
 em HTML e id = em css e # (so pode 1 elemento)
 em HTML e class = em css e .(pode varios elementos)
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109 , 0);
}

#principal {
    text-align: center;
    background-color: green;
    color: white;
}

.basico {
    color: green;
    font-weight: bold;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

h2 {
    color: rgb(51, 77 , 49);
}

.destaque {
    background-color: yellow;
}
