@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #228CDB, #F4D58D);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0a1128;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #001f54;
    text-align: center;
    text-shadow: 1px 1px 2px #001f54;
}

h2 {
    color: #228cdb;
}

p {
    text-align: justify;
}